@CHARSET "UTF-8";
.kx-header-2 {
	font-weight: bold;
	font-size:  1em;
}

.kx-MenuListManager {}

.kx-GalleryBlock {
	width: 20opx;
}
.kx-EditPanel {}
.kx-NavigationBar {
	padding: 5px;
	background-color: #4C88BE;
}
.kx-Hyperlink-option {
	font-size:.7em;
	color: #D9DB56;
}
.kx-FlowPanel-left {
	float:left; margin-right:5px;
}

.kx-ImageList {float: left; width: 15%;  height: 70px;}

/*
.gwt-Button {}
.gwt-Button.category {background-image: url("images/");}
.gwt-Button.save {background: inherit url("images/s.png") top left no-repeat;}
.gwt-Button.delete {background: inherit url("images/delete.png") top left no-repeat;}
*/