.kx-MessageBox {position: absolute; top: 0; left: 40%;z-index: 9999;}

.kx-MessageBox .kx-MessageBox-info,
.kx-MessageBox .kx-MessageBox-error {padding: 5px; margin-bottom: 1px; text-align: center;}

.kx-MessageBox .kx-MessageBox-info  {background-color: #FAB81E;}
.kx-MessageBox .kx-MessageBox-error {background-color: #BA1A1A;}

.kx-DropDownList {}

.kx-CheckBoxListManager {
	display:block;
	width:100%;
}

.kx-CheckBoxList {
	padding: 2px;
	display:block;
	width:100%;
	border-bottom: 1px solid silver;
}
.kx-CheckBoxList.checked {
	background: silver;
}
.kx-CheckBoxList-Label {
	display: block;
	width: 100%;
}

.kx-ImageListManager {}
.kx-ImageList {}
.kx-ImageList.checked {
	background: silver;
}
.kx-ImageList-Image {}